<div class="content-section introduction">
    <div class="feature-intro">
        <h1>Recipes</h1>
        <p>A curated list of delicacies from Food.com</p>
    </div>
</div>
<p-toast position="bottom-right"></p-toast>
<div class="content-section implementation">
    <div *ngIf="{response: recipeResponse$ |async} as data" class="card">
        <p-dataView #dv 
          [value]="data.response?.recipes ?? []" 
          [paginator]="true" 
          [rows]="data.response?.pageSize ?? 9" 
          [totalRecords]="data.response?.totalCount ?? 0" 
          filterBy="name" 
          layout="grid" 
          [lazy]="true" 
          (onLazyLoad)="onPaginate($event)">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row md:justify-content-between">
                    <div class="form-group">
                        <span class="p-input-icon-left mb2 md:mb0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name" [(ngModel)]="filter.searchTerm"
                                (keyup.enter)="onSearch()">
                        </span>

                        <p-dropdown *ngIf="recipeCategoryList$ | async as recipeCategoryList"
                            [options]="recipeCategoryList" optionLabel="name" optionValue="value"
                            [(ngModel)]="filter.category" [showTransitionOptions]="'1ms'"
                            [hideTransitionOptions]="'1ms'" styleClass="mb-2 md:mb-0">
                        </p-dropdown>

                        <button (click)="onSearch()" pButton type="button" label="" icon="pi pi-search" iconPos="right"
                            class="p-button-info"></button>

                    </div>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>
            <ng-template let-recipe pTemplate="listItem">
                <div class="col-12">
                    <div class="recipe-list-item">
                        <img [src]="recipe.imageUrl" [alt]="" />
                        <div class="recipe-list-detail">
                            <div class="recipe-title">
                                <a [routerLink]="['/recipe', recipe.id]">
                                    {{recipe.title}}
                                </a>
                            </div>
                            <div class="recipe-description">{{recipe.description}}</div>
                            <p-rating [(ngModel)]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
                            <i class="pi pi-tag recipe-category-icon"></i>
                            <span class="recipe-category">{{ recipe.category }}</span>
                        </div>
                        <div class="recipe-list-action">
                            <span class="recipe-prep-time">{{ recipe?.prepTime }}min</span>
                            <p-button class="recipe-favourite" icon="pi pi-heart"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-recipe pTemplate="gridItem">
                <div class="col-12 md:col-4">
                    <div class="recipe-grid-item card">
                        <div class="recipe-grid-item-top">
                            <div>
                                <i class="pi pi-tag recipe-category-icon"></i>
                                <span class="recipe-category">{{recipe.category}}</span>
                            </div>

                        </div>
                        <div class="recipe-grid-item-content">
                            <img [src]="recipe.imageUrl" [alt]="" />
                            <div class="recipe-title">
                                <a [routerLink]="['/recipe', recipe.id]">
                                    {{recipe.title}}
                                </a>
                            </div>
                            <div class="recipe-description">{{recipe.description}}</div>
                            <p-rating class="recipe-rating" [ngModel]="recipe.rating" [readonly]="true"
                                [cancel]="false"></p-rating>
                        </div>
                        <div class="recipe-grid-item-bottom">
                            <span class="recipe-prep-time">{{ recipe?.prepTime }}min</span>
                            <p-button class="recipe-favourite" icon="pi pi-heart"></p-button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>